footer {
    background: linear-gradient(135deg, #4e73df, #764ba2);
    color: white;
    font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
}


.middle-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 60px 20px;
    text-align: center;
    
    h3 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    p {
        font-size: 14px;
        opacity: 0.9;
    }
}

.middle-footer-blok {
    max-width: 250px;
}


.main-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    padding: 40px 20px;
    border-top: 1px solid rgba(255,255,255,0.2);
}

.footer-column {
    min-width: 220px;

    h3 {
        margin-bottom: 15px;
        font-size: 18px;
        text-decoration: underline;
    }

    p {
        margin-bottom: 8px;
        font-size: 14px;
    }

}

.bottom-footer {
    text-align: center;
    padding: 20px;
    font-size: 13px;
    background-color: rgba(0,0,0,0.2);
}

.icons {
    height: 125px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    max-height: 50px;

    .svg {
        height: 52px;
        width: 52px;
    }
}

.icons a:hover{
    transform: scale(1.2);
    transition: .4s ease all;
}