header{
    height: 100px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.wrapper{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.wrapper .logo{
    font-size: 30px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a{
    text-decoration: none;
    
}